<app-date-chooser></app-date-chooser>
<div *ngIf="!clocksForInputs" style="display: flex; justify-content: center;">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="clocksForInputs?.length > 0">
  <button style="margin-right: 10px;" (click)="addClock()" mat-flat-button>Ajouter pointage</button>
  <button mat-flat-button [disabled]="!(clocksForInputs && clocksForInputs.length > 0)" (click)="saveClocks()">
    Sauvegarder
  </button>
  <app-time-sheet [clocks]="clocksForInputs" [totalTimeToWork]="totalTimeToWork" (onRemove)="removeClock($event)"
    (onInput)="saveInput($event)">
  </app-time-sheet>
</ng-container>
