<div style="display: flex; align-items: center; overflow-x: hidden;">
  <button mat-icon-button (click)="removeDay()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span flex class="date-picker-bar" (click)="picker.open()">
    <mat-datepicker touchUi #picker></mat-datepicker>
    <input style="width: 0; height: 0; padding: 0; margin: 0; border: none;" [matDatepicker]="picker"
      (dateChange)="dateChange($event.value)" [value]="date">
    <span>{{ date.format('DD.MM.YYYY') }}</span>
  </span>
  <button mat-icon-button (click)="addDay()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
