<div class="container">
  <mat-card>
    <mat-card-title>
      Bonjour {{ (user$ | async)?.sub }}
    </mat-card-title>
    <mat-card-content>
      <p>
        Vous trouverez ici votre token pour pouvoir pointer avec votre téléphone!
      </p>
      <p>
        L'utilisation est simple, installez Tasker sur android, enregistrez un tag NFC avec Tasker, et dans "actions",
        utilisez http POST vers https://chezgab.ch/hourcalculator/post-time, avec les données suivantes:
      </p>
      <textarea #token style="display: block; width: 100%; height: 5rem; margin-bottom: 10px;">
&#123;
  "date": "%DATE",
  "time": "%TIME",
  "userToken": "{{ userToken$ | async }}"
&#125;</textarea>
      <button (click)="copyToClipboard()" mat-button>Copier dans le presse-papier</button>
      <p class="text-warn">Attention, ne partagez jamais votre token!</p>
    </mat-card-content>
  </mat-card>
</div>