<mat-card>
  <form class="example-form" onsubmit="javascript:void(0)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Arrivée" type="time" [(value)]="dayStart" (input)="startChange($event.target.value)">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Durée pause" type="time" [value]="pauseDuration | durationToString"
        (input)="pauseDurationChange($event.target.value)">
    </mat-form-field>
    Fin: {{endTime}}
  </form>
</mat-card>