<form action="javascript:void(0)" [formGroup]="formGroup" (submit)="submit()">
  <mat-card>
    <mat-card-content>
      <div class="grid-2-rows grid-gap-10">
        <mat-form-field flex>
          <input type="text" #username autocomplete="off" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field flex>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="grid-2-columns">
        <button mat-raised-button color="primary" type="submit">OK</button>
        <button mat-button routerLink="../register">Not registered yet?</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>