<form action="javascript:void(0)" [formGroup]="formGroup" (submit)="submit()">
  <mat-card>
    <mat-card-content>
      <div class="grid-2-rows grid-gap-10">
        <mat-form-field>
          <input required autocomplete="off" type="text" matInput placeholder="Choisissez un nom d'utilisateur"
            formControlName="username" #username>
          <mat-error *ngIf="formGroup.controls.username.invalid">{{ getError(formGroup.controls.username) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input required type="password" matInput placeholder="Choisissez un mot de passe" formControlName="password" #password>
          <mat-error *ngIf="formGroup.controls.password.invalid">{{ getError(formGroup.controls.password) }}</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Let's go!</button>
    </mat-card-actions>
  </mat-card>
</form>