<div style="display: flex; flex-direction: column; justify-content: stretch; align-items: stretch;">
  <button #button mat-button flex routerLink="main" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="mat-primary">
    Déb. Matin + temps pause
  </button>
  <button #button mat-button flex routerLink="main/badge" routerLinkActive="mat-primary">
    Temps badgés
  </button>
  <button #button mat-button flex routerLink="/week" routerLinkActive="mat-primary">
    Par semaine
  </button>
  <button *ngIf="data.isLoggedIn" #button mat-button flex routerLink="remote" routerLinkActive="mat-primary">
    Infos utilisateur
  </button>
</div>
