<nav mat-tab-nav-bar>
  <a mat-tab-link
      routerLink="auto"
      routerLinkActive #rl2="routerLinkActive"
      [active]="rl2.isActive">
    Pointage &quot;auto&quot;
  </a>
  <a mat-tab-link
     routerLink=""
     routerLinkActive #rl1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
     [active]="rl1.isActive">
     Pointage &quot;manuel&quot;
  </a>
  <a mat-tab-link
     routerLink="pause"
     routerLinkActive #rl3="routerLinkActive"
     [active]="rl3.isActive">
     Déb. Matin + temps pause
  </a>
</nav>
<router-outlet></router-outlet>