<nav mat-tab-nav-bar>
  <a flex mat-tab-link routerLink="main" routerLinkActive #rl1="routerLinkActive"
     [routerLinkActiveOptions]="{ exact: true }" [active]="rl1.isActive">
    Déb. matin + temps pause
  </a>
  <a flex mat-tab-link routerLink="main/badge" routerLinkActive #rl4="routerLinkActive" [active]="rl4.isActive">
    Temps badgés
  </a>
  <a flex mat-tab-link routerLink="week" routerLinkActive #rl5="routerLinkActive" [active]="rl5.isActive">
    Par semaine
  </a>
  <a flex mat-tab-link routerLink="remote" routerLinkActive #rl6="routerLinkActive" [active]="rl6.isActive">
    Infos sur le compte
  </a>
</nav>
<router-outlet></router-outlet>
<span flex></span>
<div class="container-responsive sticky-bottom">
  <mat-card style="background-color: #eee;">
    <div style="display: flex; justify-content: center; align-items: stretch;">
      <div flex style="display: flex; height: 100%; align-items: stretch;">
        <button flex mat-button routerLink="/">
          Home
        </button>
        <button flex *ngIf="isLoggedIn" routerLink="remote" mat-button>
          <mat-icon>person_outline</mat-icon>
        </button>
      </div>
      <button #menuButton mat-button style="width: 60%;" (click)="openBottomSheet()">
        <mat-icon>person_outline</mat-icon>
      </button>
      <button flex *ngIf="isLoggedIn" mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button flex *ngIf="!isLoggedIn" routerLink="remote/login" mat-button>Log in</button>
    </div>
  </mat-card>
</div>
