:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-card {
  padding: 8px;
}
