<nav mat-tab-nav-bar>
  <a flex mat-tab-link routerLink="main" routerLinkActive #rl1="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}" [active]="rl1.isActive">
    Pointage manuel
  </a>
  <a flex mat-tab-link routerLink="main/auto" routerLinkActive #rl2="routerLinkActive" [active]="rl2.isActive">
    Pointage auto
  </a>
  <a flex mat-tab-link routerLink="main/pause" routerLinkActive #rl3="routerLinkActive" [active]="rl3.isActive">
    Déb. Matin + temps pause
  </a>
  <a flex mat-tab-link routerLink="main/badge" routerLinkActive #rl4="routerLinkActive" [active]="rl4.isActive">
    Temps badgés
  </a>
  <a flex mat-tab-link routerLink="week" routerLinkActive #rl5="routerLinkActive" [active]="rl5.isActive">
    Par semaine
  </a>
  <a flex mat-tab-link routerLink="remote" routerLinkActive #rl6="routerLinkActive" [active]="rl6.isActive">
    Infos sur le compte
  </a>
</nav>
<router-outlet></router-outlet>
<span flex></span>
<div class="container-responsive sticky-bottom">
  <mat-toolbar>
    <div flex style="display: flex; height: 100%; align-items: center;">
      <button flex style="height: 80%;" mat-button routerLink="/">
        Home
      </button>
      <button flex *ngIf="isLoggedIn" routerLink="remote" mat-button style="height: 80%;">
        <mat-icon>person_outline</mat-icon>
      </button>
    </div>
    <button #menuButton mat-button style="width: 60%; height: 80%;" (click)="openBottomSheet()">
      <mat-icon>person_outline</mat-icon>
    </button>
    <button flex *ngIf="isLoggedIn" mat-button style="height: 80%;" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button flex *ngIf="!isLoggedIn" routerLink="remote/login" style="height: 80%;" mat-button>Log in</button>
  </mat-toolbar>
</div>