.mat-button-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.install-service-worker {
  position: fixed;
  justify-self: center;
  align-self: center;
  display: none;
}