
<div class="container">
  <mat-card *ngIf="clocks?.length > 0">
    <form class="example-form" action="javascript:void(0)">
      <div style="display: flex; align-items: center;" *ngFor="let clock of clocks; index as i">
        <mat-form-field flex>
          <input #timeInput type="time" matInput [value]="clock.value"
            placeholder="{{ i % 2 === 0 ? 'Entrée' : 'Sortie' }}" (input)="newInput(i, $event.target.value)">
        </mat-form-field>
        <mat-icon aria-hidden="false" style="margin-left: 5px; display: inline;" aria-label="Example home icon"
            (click)="removeClock(i)">
            delete</mat-icon>
      </div>
    </form>
  </mat-card>
  <div class="container">
    <mat-card>
      <mat-table [dataSource]="tableData">
        <ng-container matColumnDef="timeWorked">
          <mat-header-cell *matHeaderCellDef>Temps travaillé</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.timeWorked | durationToString }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeLeft">
          <mat-header-cell *matHeaderCellDef>Temps restant</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.timeLeft | durationToString }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <mat-header-cell *matHeaderCellDef>Fin</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.endTime | momentToString }}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
      <mat-card-actions>
        <ng-content></ng-content>
      </mat-card-actions>
    </mat-card>
  </div>
</div>