<app-week-picker (onDateChange)="createTable($event)"></app-week-picker>
<mat-table style="width: 100%;" matSort [dataSource]="toDisplay" flex
  class="mat-elevation-z1" *ngIf="(subj | async)?.includes('h')">
    <ng-container matColumnDef="date">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="dateClick(element.date)">
          {{ element.date }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="a" *ngFor="let a of dynamicColumnArray;">
      <mat-header-cell mat-sort-header *matHeaderCellDef>{{ a.includes('entree') ? 'Entrée' : 'Sortie' }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[a] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-card *ngIf="(subj | async)?.includes('a')">
  <mat-card-content>
    Malheureusement rien à afficher :(
  </mat-card-content>
</mat-card>
<div *ngIf="!(subj | async)" style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1 1;">
  <mat-spinner></mat-spinner>
</div>
